version: 1.0

snow:
  - id: 546043 # Milo HelpX internal

notifications:
  jira:
    default:
      project: MWPW # Mandatory
      filters:
        include:
          risk_rating: R5
      fields:
        assignee:
          name: raghavs
        customfield_11800: MWPW-140779 #epic link
        watchers:
          - casalino
          - jmichnow
          - mauchley
        labels:
          - "OriginatingProcess=Kodiak"
          - "security"
          - "kodiak-ticket"
        components:
          - name: "DevOps Security"
