/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

main .note {
  border: 2px solid #707070;
  border-radius: 4px;
  padding: 10px 20px;
  color: #707070;
  margin: 20px auto 0 auto;
  display: table;
}

main .note > div:before {
  font-weight: bold;
  content: 'Note:';
}

body table {
  font-size: 16px;
  border-spacing: 0;
}

table, th, td {
  padding: 9px 10px;
  border: 1px solid #bdbdbd!important;
  border-collapse: collapse!important;
}

table th {
  background-color: #ededed;
}