/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */

/* main > div {
  width: 100%!important;
  margin: 0 auto;
  max-width: 1260px;
  padding-left: 70px!important;
  padding-right: 70px!important;
} */

:root {
  --static-color-white: #fff;
  --static-color-light-green: #0f996d;
  --static-color-light-gray: #fafafa;
  --static-color-dark-gray: #505050;
  --static-color-gray-700: #333333;

  --static-color-heading-border: #dddddd;

  --table-color-border: #bdbdbd;
  --table-header-color-background: #ededed;
  --internal-banner-color-background: var(--static-color-light-green);
  --internal-banner-color-font: var(--static-color-dark-gray);
  --footer-color-background: var(--static-color-light-gray);
  --footer-color-font: var(--static-color-dark-gray);
  --on-this-page-background: #eaeaea;

  --grid-container-width: 100%;
}

body {
  line-height: 21px;
}

body table {
  font-size: 16px;
  border-spacing: 0;
}

table, th, td {
  padding: 9px 10px;
  border: 1px solid var(--table-color-border)!important;
  border-collapse: collapse!important;
}

table th {
  background-color: var(--table-header-color-background);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* equivalent of section title in AEM */
.section > .content > h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;

  /*
* We may need to move the below to
* template specific selectors
* */
  border-top: 1px solid var(--static-color-heading-border);
  margin: 2rem 0 1.5rem;
  padding: 20px 0 0;
}

.columns {
  max-width: 1200px;
  margin: 0 auto;
}

.accordion dd div {
  padding-top: 10px;
}

body.helpxmain-article {
  font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}

body.helpxmain-article > .section {
  display: block;
  margin: 0 auto;
}

body.helpxmain-article h1 {
  padding: 4px 48px 6px 2.5rem;
  margin: 0;
  line-height: 1.15;
  font-size: 36px;
  font-weight: 500;
  width: calc(100% - 480px);
  text-align: left;
  word-break: break-word;
}

/*
* title
*/

.page-title {
  padding: 10px!important;
  font-size: 36px;
  font-weight: 500;
  color: var(--static-color-white)!important;
}

/*
  internal banner
*/

main .internal-banner .banner {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--internal-banner-color-background);
  font-size: 14px;
  font-weight: 700;
  padding: 12px 0;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--static-color-white);
}

/* info icon - added via global block function in scripts.js */
main .internal-banner .banner .icon {
  height: 18px;
  width: 18px;
}

main .last-updated.content {
  font-weight: lighter;
  font-size: 16px;
  color: var(--internal-banner-color-font);
  padding-top: 32px;
  padding-bottom: 32px;
}

/*
 * footer
 */

footer {
  background: var(--footer-color-background);
  color: var(--footer-color-font);
  font-size: 11px;
  margin-top: 20px;
  padding-top: 20px;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

/*
 * content layout
 */

.layout-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/*
 * on this page
 */

.on-this-page {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 20px;
  background: url('https://main--helpx-internal--adobecom.hlx.page/media_1b45f544d71effad595a85747635d01832a3c0149.png');
  background-color: var(--on-this-page-background);
  padding: 10px;
}

.on-this-page h5 {
  margin: 0 0 auto;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.on-this-page a {
  margin-left: 15px;
}
